<td style="border:solid 1px black; padding:0px; text-align-last:center;">
    <select name="" style="width:100%; height:40px;text-align:center; text-align-last:center; border:0;">
        <option>Graphiste</option>
        <option>WebDev</option>
        <option>Comptabilité</option>
        <option>Multimedia</option>
    </select>
</td>
